/*code along version*/

h1,
h2,
h3,
h4,
ul {
    font-family: sans-serif;
}

h1,
h2,
h4 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

body {
    background-color: ghostwhite;
    /*can uncomment line below if I want a fixed-width page, but I think it works pretty well without fixed width*/
    /*    width: 610px;*/
    padding-left: 25px;
    padding-right: 25px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

section {
    overflow: auto;
}

section img {
    width: 180px;
    float: right;
    border: 2px solid gray;
    padding: 4px;
}

div {
    width: 66%;
    float: left;
}

footer {
    padding-top: 5px;
}

nav ul,
footer ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    /*    line below helps bring back to center after indenting ul -40px*/
    margin-left: 40px;
}

nav li,
footer li {
    display: inline;
    font-weight: bold;
    margin-left: 0px;
}

nav li + li,
footer li + li {
    border-left: 2px solid black;
    padding-left: 5px;
    margin-left: 0px;
}


/*rules for portfolio*/

li img {
    border: 2px solid gray;
    width: 450px;
    margin-left: 30px;
    margin-bottom: 10px;
}

li p {
    margin-left: 15px;
    margin-top: 0px;
}

ul li {
    list-style: square;
}